body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#app {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

#joinRequests ul {
    list-style-type: none;
    padding: 0;
}

#joinRequests li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

#availableGroupsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
}

.group-item